<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dash.css">
    <title>Document</title>
</head>
<body>
    <div class="raw">
        <div class="column" id="cl1">
            <img src="add_emp.png" alt="add_employee">
            <h2>Add Employee</h2>
        </div>
        <div class="column" id="cl2">
            <img src="employee.png" alt="employee">
            <h2>View Employee</h2>
        </div>
        <div class="column" id="cl3">
            <img src="archive.png" alt="archive">
            <h2>Archive</h2>
        </div>
    </div>
</body>
</html>