<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .head{
        color: black;
        font-weight: bold;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-around;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);padding:15px;padding-left:px;
      }
      .app{
      text-align: center;
      
      }
      .logo{
        
        float: right;
        
      }

    </style>
</head>
<body>
    
<div class="head"> 
    <div><img src = "images/icon.jpg" alt="employee_icon" width = 50; height="50"></div>
    <div class="admin">Admin</div>
    <div class="admin">Employee Management System</div>
    <div class="admin">Logo</div>
  </div>

</body>
</html>