

.head{
    color: black;
    font-weight: bold;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #2dbeb9;
    padding:15px;
    position: fixed;
}

.heading{
    font-size: 30px;
    /* font-family: 'Courier New', monospace; */
}

.logo{
    position: absolute;
    right: 0;
}

.admin{
    position: absolute;
    left: 0;
}


 
