
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: device-width;
}
      
.head{
    color: black;
    font-weight: bold;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #2dbeb9;
    padding:15px;
}
.app{
    text-align: center;
}
.logo{
    float: right;
}

 .image {
   margin: 0;
   float: inline-start;
}

h6{
    
}