<h3> View Employee Details</h3>

<div class="aa">
    <div>
        <h1> {{employees?.firstName}}</h1>
        <label  > <b> First Name: </b></label> {{employees?.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label>  {{employees?.lastName}}
    </div>
    <div>
     <label> <b> Department: </b></label>    {{employees?.department}}
    </div>
    <div>
        <label> <b> Cell number: </b></label>    {{employees?.cellphone}}
       </div>
       <div>
        <label> <b> Email: </b></label>   {{employees?.email}}
       </div>
       <div>
        <label> <b> Address: </b></label>  {{employees?.address}}
       </div><div>
        <label> <b> Start date: </b></label>    {{employees?.lastName}}
       </div>
</div>