<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Archives</title>
    <link rel="stylesheet" href="archives.component.css">
</head>
<style>

/*.button {
  border: none;
  color: rgba(16, 1, 1, 0.806);
  padding: 15px 32px;
  text-align: center;
  text-decoration: navy;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

.button1 {background-color: #40a1e7, 86%, 14%;} 
.button2 {background-color: #40a1e7;}
.button3 {background-color: #40a1e7;}
.button1:hover {background-color: rgb(27, 7, 201);}
.button2:hover {background-color: rgb(103, 255, 80);}
.button3:hover {background-color: rgb(204, 4, 4);}

}*/



</style>

<h1>Employee Management Archives</h1>
<br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Employee..">
<br>
<table id="mytable" class="display" style="width:100%">

    <br>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Department</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    
    </tr>
    <tr>
        <td>08</td>
        <td>Sergio</td>
        <td>Mkhabela</td>
        <td>msergio6@yahoo.com</td>
        <td>Procurement</td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
            <img src="View.png" alt="View"></a>
        </td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
            <img src="Restore.png" alt="Restore"></a>
        </td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
                <img src="Remove.png" alt="Restore"></a>
        </td>
    <tr>
        
        
    </tr>

    <tr>
        <td>12</td>
        <td>Francisco</td>
        <td>Swart</td>
        <td>swart08@gmail.com</td>
        <td>Infrastructure</td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
                <img src="View.png" alt="View"></a>
        </td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
                <img src="Restore.png" alt="View"></a>

        </td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
                <img src="Remove.png" alt="View"></a>
        </td>

    </tr>
        <td>34</td>
        <td>Scotland</td>
        <td>Versace</td>
        <td>versac99@gmail.com</td>
        <td>Finance</td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
            <img src="View.png" alt="View"></a>
        </td>

        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
            <img src="Restore.png" alt="Restore"></a>
        </td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
                <img src="Remove.png" alt="Restore"></a>
        </td>

    <tr>
    
        <td>13</td>
        <td>Sibuyi</td>
        <td>puleng</td>
        <td>sibu323@gmail.com</td>
        <td>Security</td>
        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
                <img src="View.png" alt="View"></a>

        </td>
        

        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
            <img src="Restore.png" alt="Restore"></a>

        </td>

        <td>
            <a href="/file:///Users/damacm1114/Desktop/EMS/src/app/Components/archives/archives.component.html">
            <img src="Remove.png" alt="Restore"></a>
    
        </td>
    
        </tr>
</table>


<body>

</body>
</html>

