
<div class="container mb-5">
  <div class="backimg"><a routerLink="/employee"><img src="https://cdn0.iconfinder.com/data/icons/controls-add-on/48/v-40-512.png" alt="back" width = 55; height="40"> </a> </div>
  <h1>New Employee:</h1>

  <form [formGroup]="CreateComponent"  (ngSubmit)="onSubmit()">


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First Name</label>
        <input type="name" class="form-control" id="inputFirstName" placeholder="Enter First Name"  formControlName="firstName" required>

      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input type="name" class="form-control" id="inputLastName" placeholder="Enter Last Name" formControlName="lastName" required>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email" required>
    </div>
    <div class="form-group col-md-6">
      <label for="department">Department</label>
      <select id="department" formControlName="department" ngModel class="form-control">
        <option value="1" color="light-gray">Choose Department</option>
        <option value="IT">IT</option>
        <option value="HR">HR</option>
        <option value="Marketing">Marketing</option>
        <option value="Finance">Finance</option>
        <option value="Sales">Sales</option>
        <option value="Engineering">Engineering</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Gender">Gender</label>
      <select id="department" formControlName="department" ngModel class="form-control">
        <option value="1" color="light-gray">Choose Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="cellphone">Cellphone Number</label>
      <input type="phone" class="form-control" id="cellphone" placeholder="Enter Cellphone Number" formControlName="cellphone" required>
    </div>
    <div class="form-group col-md-6">
      <label for="salary">Salary</label>
      <input type="number" class="form-control" id="salary" formControlName="salary" placeholder="Enter Salary">
    </div>
    <div class="form-group col-md-12">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="1234 Main St" formControlName="address" required>
    </div>

  

   <div>

    <button class="btn btn-primary" >Submit</button>
    <!-- <button (click)="clearInput()" class="btn btn-primary">Clear Input</button> -->
  </div>
  </form>
</div>


<!-- <div class="container mb-5">
  <h2>Add a New Employee:</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First Name</label>
        <input type="name" class="form-control" id="inputFirstName" placeholder="Enter First Name" name="fname" required>

      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input type="name" class="form-control" id="inputLastName" placeholder="Enter Last Name" name="lname" required>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group col-md-12">
      <label for="department">Department</label>
      <select id="department" name="department" ngModel class="form-control">
        <option value="1" color="light-gray">Choose Department</option>
        <option value="2">IT</option>
        <option value="3">HR</option>
        <option value="4">Marketing</option>
        <option value="5">Finance</option>
        <option value="6">Sales</option>
        <option value="7">Engineering</option>
      </select>
    </div>
<div class="form-group col-md-6">
      <label for="cellphone">Cellphone Number</label>
      <input type="phone" class="form-control" id="cellphone" placeholder="Enter Cellphone Number" name="cellphone" required>
    </div>
    <div class="form-group col-md-6">
      <label for="salary">Salary</label>
      <input type="number" class="form-control" id="salary" placeholder="Enter Salary">
    </div>
    <div class="form-group col-md-12">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" required>
    </div>
    <div class="form-group col-md-12">
      <label for="suburb">Address 2</label>
      <input type="text" class="form-control" id="suburb" placeholder="Suburb" name ="suburb" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
      </div>
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" placeholder="Country" name="country" required>
      </div>
      <div class="form-group col-md-3">
        <label for="postalCode">Postal Code</label>
        <input type="text" class="form-control" id="postalCode" placeholder="Postal Code" name="postalCode" required>
      </div>
      <div class="form-group col-md-9">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" placeholder="Enter Start Date" required>
      </div>
    </div>

   <div>
    <button type="submit" class="btn btn-primary">Submit</button> -->
    <!-- <button (click)="clearInput()" class="btn btn-primary">Clear Input</button> -->
  <!-- </div>
  </form>
</div> -->





<!-- <div class="container mb-5">
  <h2>Add a New Employee:</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First Name</label>
        <input type="name" class="form-control" id="inputFirstName" placeholder="Enter First Name" name="fname" required>

      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input type="name" class="form-control" id="inputLastName" placeholder="Enter Last Name" name="lname" required>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group col-md-12">
      <label for="department">Department</label>
      <select id="department" name="department" ngModel class="form-control">
        <option value="1" color="light-gray">Choose Department</option>
        <option value="2">IT</option>
        <option value="3">HR</option>
        <option value="4">Marketing</option>
        <option value="5">Finance</option>
        <option value="6">Sales</option>
        <option value="7">Engineering</option>
      </select>
    </div>
<div class="form-group col-md-6">
      <label for="cellphone">Cellphone Number</label>
      <input type="phone" class="form-control" id="cellphone" placeholder="Enter Cellphone Number" name="cellphone" required>
    </div>
    <div class="form-group col-md-6">
      <label for="salary">Salary</label>
      <input type="number" class="form-control" id="salary" placeholder="Enter Salary">
    </div>
    <div class="form-group col-md-12">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" required>
    </div>
    <div class="form-group col-md-12">
      <label for="suburb">Address 2</label>
      <input type="text" class="form-control" id="suburb" placeholder="Suburb" name ="suburb" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
      </div>
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" placeholder="Country" name="country" required>
      </div>
      <div class="form-group col-md-3">
        <label for="postalCode">Postal Code</label>
        <input type="text" class="form-control" id="postalCode" placeholder="Postal Code" name="postalCode" required>
      </div>
      <div class="form-group col-md-9">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" placeholder="Enter Start Date" required>
      </div>
    </div>

   <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  
  </div>
  </form>
</div> -->
