<html lang="en">
<head>
  <title>Updating a Employee's Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="backimg"><a routerLink="/employee"><img src="https://cdn0.iconfinder.com/data/icons/controls-add-on/48/v-40-512.png" alt="back" width = 55; height="40"> </a> </div>

  <div class="container">
  <h2>Updating Employee Details:</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First Name</label>
        <input type="name" class="form-control" id="inputFirstName" placeholder="Thilivhali" name="fname" required>
        
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input type="name" class="form-control" id="inputLastName" placeholder="Ravhutulu" name="lname" required>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="trav@dadav.co.za" name="email" required>
    </div>
    <div class="form-group col-md-12">
      <label for="department">Department</label>
      <select id="department" name="department" ngModel class="form-control">
        <option value="1" color="light-gray">Choose Department</option>
        <option value="2">IT</option>
        <option value="3">HR</option>
        <option value="4">Marketing</option>
        <option value="5">Finance</option>
        <option value="6">Sales</option>
        <option value="7">Engineering</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="cellphone">Cellphone Number</label>
      <input type="phone" class="form-control" id="cellphone" placeholder="082345678" name="cellphone" required>
    </div>
    <div class="form-group col-md-6">
      <label for="salary">Salary</label>
      <input type="number" class="form-control" id="salary" placeholder="R30000">
    </div>
    <div class="form-group col-md-12">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" required>
    </div>
    <div class="form-group col-md-12">
      <label for="suburb">Address 2</label>
      <input type="text" class="form-control" id="suburb" placeholder="Auckland Park" name ="suburb" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="Johannesburg" name="city" required>
      </div>
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" placeholder="South Africa" name="country" required>
      </div>
      <div class="form-group col-md-3">
        <label for="postalCode">Postal Code</label>
        <input type="text" class="form-control" id="postalCode" placeholder="2092" name="postalCode" required>
      </div>
      <div class="form-group col-md-9">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" placeholder="1 April 2021" required>
      </div>
    </div>
    
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button (click)="clearInput()" class="btn btn-primary">Clear Input</button>
    </div>

  </form>
</div>

</body>
</html>
