
 
  <div class="container">
    <div class="backimg"><a routerLink="/employee"><img src="https://cdn0.iconfinder.com/data/icons/controls-add-on/48/v-40-512.png" alt="back" width = 55; height="40"> </a> </div>

  <h1 style="font-weight: bold;">Updating Employee Details:</h1>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First Name</label>
        <input type="name" class="form-control" id="inputFirstName" name="fname" value={{employees?.firstName}}>
        
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input type="name" class="form-control" id="inputLastName" placeholder="Ravhutulu" name="lname" value={{employees?.lastName}}>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="trav@dadav.co.za" name="email" value={{employees?.email}}>
    </div>
    <div class="form-group col-md-12">
      <label for="email">Department</label>
      <input type="email" class="form-control" id="email" placeholder="trav@dadav.co.za" name="department" value={{employees?.department}}>
    </div>
   <!--  <div class="form-group col-md-12">
      <label for="department">Department</label>
      <select id="department" name="department" ngModel class="form-control">
        <option value="1" color="light-gray">Choose Department</option>
        <option value="2">IT</option>
        <option value="3">HR</option>
        <option value="4">Marketing</option>
        <option value="5">Finance</option>
        <option value="6">Sales</option>
        <option value="7">Engineering</option>
      </select>
    </div> -->
    <!-- <div class="form-group col-md-6">
      <label for="cellphone">Cellphone Number</label>
      <input type="phone" class="form-control" id="cellphone" placeholder="082345678" name="cellphone" value={{employeess?.cellphone}}>
    </div>
    <div class="form-group col-md-6">
      <label for="salary">Salary</label>
      <input type="number" class="form-control" id="salary" placeholder="R30000" value={{employeess?.salary}}>
    </div>
    <div class="form-group col-md-12">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" value={{employeess?.address}}>
    </div> -->
    <div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" style="margin-left: 330px;">Save</button>
      <!-- <button (click)="clearInput()" class="btn btn-primary">Clear Input</button> -->
    </div>

  </form>
</div>
