<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<html>
    
    <style>
        .sidebar{
            float: left;
            width: 15%;
            background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            padding: 15px 15px;
            height: 100vh;
  }

        .items{
            margin-top: 7px;
            font-size: 20px;
            font-weight: bold;
            padding: 8px;
           
        }
    </style>
<body>
 
<div class="sidebar">
    <div class="items">Dashboard</div>
    <div class="items">Employee</div>
    <div class="items">Add Employee</div>
    <div class="items">Archive</div>
</div>

</body>
</html>

